.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.message {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: aquamarine;
  border-radius: 5px;
  justify-content:space-between;
  align-content: space-between ;
}
.from {
  font-weight: bold;
}
.from,.text {
  align-self: start;
  margin-top: 0;

  text-align: left;
  padding-left: 5px;
}
.text-container {
  display: flex;
  justify-content:space-between;
  align-content: space-between ;
 

}


.btns {
  display: flex;
  flex-direction: column;
}

.btnDel,.btnUpd {
  height: 20px;
 margin-right: 10px;
}
